/TestThread/TestThread/nbproject/private/
/TestThread/Cit360-master/AppControlDemo/nbproject/private/
/TestThread/Cit360-master/CollectionsTesting/nbproject/private/
/TestThread/Cit360-master/HttpURL/nbproject/private/
/TestThread/Cit360-master/JSONTest/nbproject/private/
/TestThread/Cit360-master/MVCTesting/nbproject/private/
/TestThread/Cit360-master/TestThread/nbproject/private/
/TestThread/Cit360-master/smtpClient/nbproject/private/
/TestThread/Cit360-master/CollectionsTesting/build/
/TestThread/Cit360-master/HttpURL/build/
/TestThread/Cit360-master/TestThread/build/
/TestThread/Cit360-master/smtpClient/build/